.main {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 40%;
}

label {
  margin:2%;
  display: inline-block;
  width: 40%;
  color: blue;
}

input {
  width: 52%;
  padding: 2px;
  border: 1px solid blue;
  background-color: #f2f2f2;
  border-radius: 10px;
}

select {
  padding: 2px;
  border: 1px solid blue;
  background-color: #f2f2f2;
  border-radius: 10px;
}

input[type="submit"] {
  width: 98%;
  font-size: 150%;
  background-color: blue;
  border-radius: 10px;
  border: white;
  margin-top: 1%;
  color: white;
}

header.header {
  position: absolute;
  left: 44%;
  top: 25%;
  font-size: 300%;
}

input[type="submit"]:hover {
  background-color: white;
  border-radius: 10px;
  border: 1px solid blue;
  color: blue;
}

